body{
font-family: Arial;
    font-size: 16px;
    color: #000;
    padding: 20px 0 0 20px;

}
#frames{
    margin: 0px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    width: 350px;
}
#ket_qua{
    margin: 0px 0px 15px 0px;
    padding: 10px;
    text-align: right;
    width: 320px;
    height: 60px;
    outline: none;
    border: 1px solid #DDD;
    border-radius: 10px;
}

#ket_qua_cu{
    text-align: right;
    font-size: 10px;
    color:#919191;
}

#xuat_ket_qua {
    text-align: right;
    font-size: 20px;
}
#ban_phim{
    height: 300px;
}
.system {
    background-color: #BDBDBD;
}
.number:hover{
    background-color: silver;
}
.system:hover{
    background-color: silver;
}
.system, .number {
    margin: 0px 0px 15px 15px;
    padding: 10px 10px 10px 10px; 
    float: left;
    text-align: center;
    text-transform: uppercase;
    width: 50px;
    background-color: #E6E6E6;
}
.number {
    background-color: #eaedef;
}

.system, .number{
    cursor: pointer;
}

.system:active, .number:active {
    font-size: 13px;
}

.system:focus, .number:focus {
    outline: 0;
}

button:nth-child(4) {
    font-size: 20px;
    background-color: #20b2aa;
}

button:nth-child(8) {
    font-size: 20px;
    background-color: #ffa500;
}

button:nth-child(12) {
    font-size: 20px;
    background-color: #f08080;
}

button:nth-child(16) {
    font-size: 20px;
    background-color: #7d93e0;
}

button:nth-child(20) {
    font-size: 20px;
    background-color: #9477af;
}
.sign{
    background-color: blue;
}